<h1><%= pluralize(@events.size, 'Event') %> </h1>

TIME  <%= @time %><br>


<% @events.each do |event| %>
<article class="event">
<header>
<h2>  <%= link_to(event.name, event) %> <br></h2>
<div class="container">

<%= image_tag  event.image_file_name %>

</div>
</header>
<p>
<%= event.description %>
</p>
<table>
<tr>
<th>When:</th>
<td><%= event.starts_at %></td>
</tr>
<tr>
<th>Where:</th>
<td><%= event.location %></td>
</tr>
<tr>
<th>Price:</th>
<td><%= format_price(event) %></td>
</tr>
<tr>
<th>capacity:</th>
<td><%= pluralize(event.capacity, "spot") %></td>
</table>
</article>
<% end %>
<br>
<ul> NUMBERS
<li> 1 </li>
<li> 2 </li>
<li> 3 </li>
<li> 4 </li>
</ul>



